@import "../colors/colors";
@mixin title{
  text-align: center;
  margin-bottom: 50px;
  color: $white;
  font-family:  "Roboto Slab";
  font-size: 34px;
  font-weight: 600;
}
@mixin responsive{
  max-width: 1400px;
  margin: 0 auto;
}