@import "../../style/mixins/colors/colors";
.card-footer{
  margin-bottom: 40px;
  .container{
    .ant-col-16{
      padding-right: 15px;
      .card-service{
        border: 1px solid #e9e9e9;
        border-radius: 10px;
        padding: 25px;
        .ant-row{
          .ant-col-12{
            margin-bottom: 25px;
            .card-service-content{
              display: flex;
              align-items: center;
              img{
                width: 35px;
                height: 35px;
                margin-right: 15px;
              }
              .text{
                .title{
                  font-size: 16px;
                  font-weight: 500;
                  margin-bottom: 2px;
                  color: #232323;
                  line-height: 22px;
                }
                .msg{
                  font-size: 14px;
                  font-weight: 400;
                  color: #666;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
    .ant-col-8{
      padding-left: 15px;
      .check-content{
        label{
          color: #232323;
          font-size: 16px;
          font-weight: 500;
          width: 100%;
        }
        textarea{
          width: 100%;
          margin-top: 10px;
          margin-bottom: 0;
          height: 100px;
          padding: 10px;
          background-color: transparent;
          border: 1px solid #e9e9e9;
          color: #666;
          font-size: 1.4rem;
          border-radius: 30px;
          outline: none;
          &:focus{
            border-color: $buttonColor;
          }
        }
        button{
          width: 100%;
          line-height: 24px;
          border-radius: 30px;
          cursor: pointer;
          text-align: center;
          box-sizing: border-box;
          font: inherit;
          text-decoration: none;
          border: 0;
          font-size: 14px;
          letter-spacing: .5px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 10px 20px;
          transition: all .5s;
          box-shadow: none;
          background: $buttonColor;
          color: $white;
          margin-top: 30px;
          &:hover{
            background: $buttonHoverColor;
          }
        }
        .link{
          display: flex;
          justify-content: center;
          margin-top: 20px;
          a{
            color: #232323;
            text-underline-offset: 0.3rem;
            text-decoration: underline;
          }
        }
      }
    }
  }
}