.shopping-card{
  padding: 30px 0;
  .container{
    .ant-row{
      .ant-col-24{
        .shopping-card-title{
          font-size: 28px;
          letter-spacing: .06rem;
          color: #232323;
          line-height: 1.3;
          text-align: center;
        }
        .shopping-table{
          width: 100%;
          thead{
            background: #f5f5f5;
            tr{
              th{
                text-align: center;
                padding: 15px 30px;
                font-weight: 500;
                font-size: 17px;
              }
              th:first-child{
                text-align: left;
              }
            }
          }
          tbody{
            tr{
              border-bottom: 1px solid #e9e9e9;
              position: relative;
              .delete-icon{
                position: absolute;
                top: 30px;
                right: 20px;
                &:hover{
                  cursor: pointer;
                }
                i{
                  color: #444;
                  font-size: 18px;
                }
              }
              td{
                padding: 40px 20px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
              }
              td:first-child{
                .images-content{
                  border: 1px solid #e9e9e9;
                  width: 118px;
                  height: 118px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              td:nth-child(3){
                .button-content{
                  display: flex;
                  justify-content: center;
                  .button-group{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    border: 1px solid #e9e9e9;
                    width: auto;
                    .decrement{
                      font-size: 1.5rem;
                      border: 0;
                      background-color: transparent;
                      cursor: pointer;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      color: #787878;
                      padding: 0 24px;
                    }
                    .count{
                      color: currentColor;
                      font-size: 1rem;
                      font-weight: 500;
                      opacity: .85;
                      text-align: center;
                      background-color: transparent;
                      border: 0;
                      border-left: 1px solid #e9e9e9;
                      border-right: 1px solid #e9e9e9;
                      padding: 0 20px;
                      height: 3.3rem;
                      appearance: none;
                    }
                    .increment{
                      font-size: 1.5rem;
                      border: 0;
                      background-color: transparent;
                      cursor: pointer;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      color: #787878;
                      padding: 0 20px;
                    }
                  }
                }
              }
            }
            tr:last-child{
              border-bottom: none;
            }
          }
        }
        .total{
          background: #f5f5f5;
          padding: 20px 25px;
          display: flex;
          justify-content: end;
          .total-content{
            display: flex;
            .text, .total-price{
              font-size: 1.5rem;
              font-weight: 500;
              color: #232323;
            }
            .text{
              margin-right:250px;
            }
          }
        }
      }
    }
  }
}