.ant-modal-body .modal-content .ant-row{
    padding: 20px 30px;
}
.ant-modal-body .modal-content .ant-row .ant-col-12:first-child{
    padding-right: 20px;
}
.ant-modal-body .modal-content .ant-row .ant-col-12:nth-child(2){
    padding-left: 20px;
}
.ant-modal{
    width: 75% !important;
}
.modal-content .img-content{
    width: 430px;
    height: 430px;
    border: 1px solid #e9e9e9;
}
.modal-content .img-content img{
    width: 100%;
    height: 100%;
}
.modal-content .text-content .name{
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #232323;
    line-height: 30px;
    text-transform: capitalize;
}
.modal-content .text-content .price{
    color: #232323;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
.modal-content .text-content .msg{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    line-height: 24px;
}
.modal-content .text-content .link{
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}
.modal-content .text-content .btn-add{
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    line-height: 20px;
    transition: all .5s;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
    color: #fff;
    border: 0;
    background-color: #6fae1d;
}
.modal-content .text-content .btn-add:hover{
    background-color: #232323;

}
.modal-content .text-content .btn-content{
    margin: 20px 0;
    display: flex;
    justify-content: left;
}
.modal-content .text-content .btn-content .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    width: auto;
}
.modal-content .text-content .btn-content .btn-group .decrement{
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787878;
    padding: 0 24px;
}
.modal-content .text-content .btn-content .btn-group .count{
    color: currentColor;
    font-size: 1rem;
    font-weight: 500;
    opacity: .85;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding: 0 20px;
    height: 3.3rem;
    appearance: none;
}
.modal-content .text-content .btn-content .btn-group .increment{
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787878;
    padding: 0 20px;
}
.ant-modal-footer{
    display: none;
}

