.company-carousel{
  padding: 0 15px;
  margin: 60px 0;
  .alice-carousel{
    max-width: 1400px;
    margin: 0 auto;
    .item{
      display: flex;
      justify-content: center;
      img{
        transition: all .4s;
        &:hover{
          transform: scale(0.9);
          cursor: pointer;
        }
      }
    }
    .alice-carousel__dots{
      display: none;
    }
    .alice-carousel__prev-btn{
      display: none;
    }
    .alice-carousel__next-btn{
      display: none;
    }
  }
}