@import "../mixins/htmlelement/htmlelementstyles";
@import "../../style/mixins/button/button";
.design{
  .seperator{
    display: flex;
    justify-content: center;
  }
  .design-text{
    @include title;
    color: #000;
  }
  .design-carousel{
    .ant-row{
      max-width: 1400px;
      margin: 0 auto;
      .ant-col-14{
        .alice-carousel{
          .alice-carousel__wrapper{
            .alice-carousel__stage{
              .alice-carousel__stage-item{
                .item{
                  .msg{
                    background: #f5f5f5;
                    color: #787878;
                    padding: 40px 75px;
                    border-radius: 6px;
                    margin-bottom: 30px;
                    text-align: center;
                    .msg-content{
                      margin: 0 0 20px;
                      font-size: 14px;
                      font-weight: 400;
                      color: #787878;
                      letter-spacing: .5px;
                      line-height: 24px;
                    }
                  }
                  .img-content{
                    display: flex;
                    justify-content: center;
                    img{
                      border: 2px solid #efefef;
                      border-radius: 50%;
                    }
                  }
                  .name{
                    color: #000;
                    text-align: center;
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 12px 0 2px;
                  }
                  .job{
                    font-size: 13px;
                    font-weight: 400;
                    display: block;
                    text-align: center;
                  }
                }
              }
            }
          }
          .alice-carousel__dots{
            display: none;
          }
          @include carouselButtonStyle;
          .alice-carousel__prev-btn, .alice-carousel__next-btn{
            .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
              .alice-carousel__prev-btn-item{
                top:66px;
                position: absolute;
                right:98% ;
              }
              .alice-carousel__next-btn-item{
                top:66px;
                position: absolute;
                left:98% ;
              }
            }
          }
        }
      }
    }
  }
}