@import "../../style/mixins/colors/colors";
@import "../../style/mixins/htmlelement/htmlelementstyles";
@mixin h2 {
  background-image: none;
  color: #fff;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: Unset;
  font-family: "Roboto Slab";
}
@mixin textStyle{
  font-weight: 400;
  font-size: 14px;
  color: #777;
  letter-spacing: .5px;
  line-height: 24px;
}
@mixin mainTitle{
  font-size: 1.3rem;
  display: block;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: $white;
  line-height: 1.3;
}
.footer{
  background-color: #2a2a2a;
  .footer-top{
   padding: 20px 0;
    .ant-row{
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      @include responsive;
      .ant-col-12{
        .footer-top-left{
          h2{
            @include h2;
            text-align: center;
          }
          p{
            @include textStyle;
            text-align: center;
            margin-bottom: 20px;
          }
          .input-content{
            display: flex;
            justify-content: center;
            .input-group{
              display: flex;
              input{
                background: #fff;
                padding-right: 200px;
                padding-left: 20px;
                height: 40px;
                border: 1px solid $white;
                outline: none;
                color: #666;
                font-family: inherit;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
              }
              button{
                height: 40px;
                margin: 0;
                border-radius: 0 50px 50px 0;
                background-color: $buttonColor;
                text-transform: uppercase;
                border:none;
              }
            }
          }
        }
        .footer-top-right{
          h2{
            @include h2;
            text-align: center;
          }
          p{
            @include textStyle;
            text-align: center;
            margin-bottom: 20px;
          }
          .icon-group{
            display: flex;
            justify-content: center;
            .icon-list{
              margin: 0;
              padding: 0;
              list-style-type: none;
              display: flex;
              .icon-list-item{
                a{
                  width: 40px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin: 0 6px;
                  transition: all .3s ease;
                  opacity: .8;
                  &:hover{
                    opacity: 1;
                  }
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-main{
    padding-top: 20px;
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(119, 119, 119, .3);
    .ant-row{
      padding-left: 15px;
      padding-right: 15px;
      @include responsive;
      .ant-col-6{
        position: relative;
        padding: 0 25px;
        &:before{
          position: absolute;
          content: '';
          background-color: #777;
          opacity: .3;
          height: 100%;
          left: 100%;
          top: 0;
          width: 1px;
        }
        .information{
          h2{
            @include mainTitle;
          }
          .information-list{
            list-style-type: none;
            margin: 0;
            padding: 0;
            .information-list-item{
              margin-bottom: 18px;
              display: flex;
              .item-left{
                i{
                  font-size: 20px;
                  color: $buttonColor;
                  margin-right: 10px;
                }
              }
              .item-right{
                a , span{
                  color: #777;
                  font-weight: 400;
                  font-size: 14px;
                }
                a{
                  -webkit-transition: all .4s ease 0s;
                  &:hover{
                    color: $buttonColor;
                  }
                }
              }
            }
          }
        }
        .account, .company{
          h2{
            @include mainTitle;
          }
          ul{
            li{
              list-style-type: none;
              transition-timing-function: ease;
              margin-bottom: 15px;
              a{
                font-weight: 400;
                font-size: 14px;
                color: #777;
                transition: all .4s;
                &:hover{
                  color: $buttonColor;
                }
              }
            }
          }
        }
        .gallery{
          h2{
            @include mainTitle;
          }
          ul{
            list-style-type: none;
            display: flex;
            li{
              padding: 0 5px;
              .hover-img{
                width: 70px;
                height: 70px;
                position: relative;
                img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                }
                .hover-div{
                  min-width: 100%;
                  min-height: 100%;
                  background-color: $buttonColor;
                  transform: scale(0);
                  transition: all .6s;
                  transition-timing-function: ease;
                  top: 0;
                  left: 0;
                  z-index: 10;
                  opacity: .3;
                }
                &:hover{
                  .hover-div{
                    transform: scale(1);
                  }
                }
              }
            }
          }
        }
      }
      .ant-col-6:last-child{
       &:before{
         display: none;
       }
      }
    }
  }
  .footer-bottom{
    padding: 10px 0;
    .ant-row{
      @include responsive;
      padding-left: 15px;
      padding-right: 15px;
      .ant-col-24{
        .text{
          color: #777;
          font-size: 15px;
          padding-left: 10px;
        }
      }
    }
  }
}