@import "../mixins/colors/colors";
@import "../../style/mixins/htmlelement/htmlelementstyles";
.fruits-category{
  margin-top: 30px;
  .container{
    .ant-row{
     @include responsive;
      .ant-col-6{
        padding: 0 10px;
        .card{
          display: flex;
          justify-content: end;
          padding: 40px 20px;
          .card-content{
            color: $white;
            .title{
              font-size: 32px;
              font-weight: 600;
              line-height: 32px;
              margin-bottom: 15px;
              transition: all .7s;
            }
            .description{
              font-size: 17px;
              font-weight: 400;
              line-height: 17px;
              margin-bottom: 15px;
            }
            button{
              background-color: $buttonColor;
              border: none;
              border-radius: 30px;
              cursor: pointer;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;
              font: inherit;
              font-size: 14px;
              letter-spacing: .5px;
              font-weight: 400;
              text-transform: uppercase;
              padding: 10px 20px;
              line-height: 20px;
              transition: all .5s;
              outline: 0;
              &:hover{
                background-color: $buttonHoverColor;
              }
            }
          }
          &:hover{
            .card-content{
              .title{
                cursor: pointer;
                transform: rotateX(360deg);
              }
            }
          }
        }
      }
    }
  }
}