@import "../../style/mixins/colors/colors";
@import "../mixins/button/button";
@import "../../style/mixins/htmlelement/htmlelementstyles";
.home-carousel{
  padding: 15px 0;
  .container{
    .alice-carousel{
      min-width: 100%;
      .alice-carousel__wrapper{
        height: 100%;
        .alice-carousel__stage{
          .alice-carousel__stage-item:nth-child(2){
            .item{
              .bg-images{
                background-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/slide-2_b67517ef-0570-42f6-a807-c2e50d7ad30b.png?v=1624878324");
              }
            }
          }
          .alice-carousel__stage-item:nth-child(3){
            .item{
              .bg-images{
                background-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/slide-1.png?v=1624878414");
              }
            }
          }
          .alice-carousel__stage-item{
            width: 100%;
            .item{
              width: 100%;
              .bg-images{
                height: 500px;
                width: 100%;
                background-size: 100% 100%;
                .ant-row{
                  @include responsive;
                  .ant-col-12{
                    .slider-content{
                      padding: 130px 100px;
                      .sub-title{
                        font-size: 28px;
                        line-height: 28px;
                        color: #222;
                        font-family: "Roboto Slab";
                        margin-bottom: 10px;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                        text-align: center;
                        white-space: nowrap;
                      }
                      .main-title{
                        text-transform: capitalize;
                        font-size: 65px;
                        line-height: 65px;
                        margin-bottom: 20px;
                        letter-spacing: .7px;
                        font-weight: 500;
                        color: $buttonColor;
                        text-align: center;
                        white-space: nowrap;
                      }
                      .msg{
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 25px;
                        letter-spacing: .5px;
                        font-weight: 400;
                        color: $color;
                        text-align: center;
                        text-transform: capitalize;
                      }
                      .button-content{
                        display: flex;
                        justify-content: center;
                        .btn{
                          border-radius: 30px;
                          cursor: pointer;
                          display: inline-flex;
                          justify-content: center;
                          align-items: center;
                          box-sizing: border-box;
                          font: inherit;
                          text-decoration: none;
                          border: 0;
                          background-color: $buttonColor;
                          box-shadow: none;
                          color: $white;
                          font-size: 14px;
                          letter-spacing: .5px;
                          font-weight: 500;
                          text-transform: uppercase;
                          padding: 10px 20px;
                          line-height: 20px;
                          -webkit-transition: all .5s;
                          -moz-transition: all .5s;
                          -o-transition: all .5s;
                          transition: all .5s;
                          outline: 0;
                          &:hover{
                            background-color: $buttonHoverColor;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @include carouselButtonStyle;
      .alice-carousel__prev-btn, .alice-carousel__next-btn{
         padding: 0;
         opacity: 0;
         transition: all .5s;
         width: 0;
         height: 0;
        .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
          .alice-carousel__prev-btn-item{
            transform: translateY(-50%);
            left: 0;
            top: 50%;
          }
          .alice-carousel__next-btn-item{
            transform: translateY(-50%);
            right: 0;
            top: 50%;
          }
          .alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
            position: absolute;
            border-radius: 0;
            width: 30px;
            height: 50px;
            background-color: $buttonColor;
            border-color: $buttonColor;
            transition: all .5s;
            transition-timing-function: ease;
            &:hover{
              background-color: $buttonHoverColor;
            }
            span{
              background-color: $white;
              width: 10px;
              height: 33px;
            }
          }
        }
      }
      &:hover{
        .alice-carousel__prev-btn, .alice-carousel__next-btn{
          opacity: 1;
          width: auto;
          height: auto;
        }
      }
      .alice-carousel__dots{
        position: absolute;
        bottom: 20px;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        .alice-carousel__dots-item{
          width: 13px;
          height: 13px;
          border: 1px solid $buttonColor;
          background-color: transparent;
          margin-right: 9px;
        }
        .alice-carousel__dots-item.__active{
          background-color: $buttonColor;
        }
      }
    }
  }
}
@keyframes animation {

}