/*******************************************************/
@import "../../style/mixins/htmlelement/htmlelementstyles";
@import "../mixins/colors/colors";
@mixin verticalLine{
  margin: 0 9px;
  background-color: #ddd;
  height: 20px;
  width: 1px;
}
@mixin emailBasketText{
  .title{
    color: $color;
    font-size: 16px;
  }
  .description{
    color: $color;
    font-size: 12px;
  }
}
@mixin d-flex {
  display: flex;
  align-items: center;
}

/*******************************************************/


.navbar{
  .navbar-top{
    background-color: #f5f5f5;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive;
      p{
        color: $color;
        font-size: 14px;
        padding:8px 0 ;
        margin: 0;
      }
      .top-list{
        list-style-type: none;
        padding: 6px 0;
        margin: 0;
        @include d-flex;
        .top-list-item{
          .ant-select{
            .ant-select-selector{
              background-color: $white;
              border-top-right-radius: 4px;
              border-top-left-radius: 4px;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
              padding: 3px 10px;
              font-size: 14px;
              border: none;
              color: $color;
              box-shadow: none !important;
            }
          }
          .ant-btn-primary{
            background-color: $white;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            color: $color;
            border: none;
            box-shadow: none;
            outline: none;
            &::after{
              box-shadow: none !important;
            }
          }
        }
        .top-list-item:nth-child(2){
          margin: 0 10px;
        }
      }
    }
  }
  .navbar-main{
    padding: 23px 0;
    .container{
      .ant-row{
        @include responsive;
        .ant-col-8{
          .input-content{
            position: relative;
            input{
              min-width: 280px;
              width: 100%;
              border: 1px solid #e7e7e7;
              border-radius: 30px;
              height: 40px;
              padding: 5px 15px;
              margin: 0;
              background: #fff;
              text-transform: capitalize;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: .8px;
              color: #777;
              outline: none;
            }
            button{
              position: absolute;
              right: 2px;
              top: 2px;
              border: none;
              height: 36px;
              width: 36px;
              font-size: 15px;
              font-weight: 400;
              line-height: 35px;
              text-align: center;
              padding: 0;
              cursor: pointer;
              outline: 0;
              z-index: 11;
              transition: all .5s;
              border-radius: 50%;
              background-color: $buttonColor;
              color: #fff;
            }
          }
        }
        .ant-col-8:first-child{
          @include d-flex;
        }
        .ant-col-8:nth-child(2){
          @include d-flex;
          justify-content: center;
        }
        .ant-col-8:nth-child(3){
          .menu-bar-list{
            list-style-type: none;
            margin: 0;
            padding: 0;
            @include d-flex;
            justify-content: end;
            .menu-bar-list-item:first-child{
              margin-right: 20px;
              .email-content{
                @include d-flex;
                .email-icon{
                  mask-image: url("../../images/message.svg");
                  width: 32px;
                  height: 24px;
                  mask-size: 100% 100%;
                  background-color: $iconColor;
                }
                .vertical-line{
                  @include verticalLine;
                }
                .email-text{
                  @include emailBasketText
                }
              }
            }
            .menu-bar-list-item:nth-child(2){
              .basket-content{
                @include d-flex;
                .basket-icon{
                  mask-image: url("../../images/basket.svg");
                  width: 35px;
                  height: 30px;
                  mask-size: 100% 100%;
                  background-color: $iconColor;
                }
                .vertical-line{
                  @include verticalLine;
                }
                .basket-text{
                  @include emailBasketText;
                }
              }
            }
          }
        }
      }
    }
  }
  .navbar-bottom{
    background-color: $buttonColor;
    .container{
      .navbar-nav{
        list-style-type: none;
        display: flex;
        align-items:center;
        justify-content: center;
        margin: 0;
        padding: 15px 10px ;
        .nav-item{
          box-sizing: border-box;
          .nav-link{
            font-size: 15px;
            text-transform: uppercase;
            padding: 15px 10px ;
            color: #fff;
            line-height: 20px;
            letter-spacing: .5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}