@import "../mixins/colors/colors";
@import "../mixins/htmlelement/htmlelementstyles";
@import "../../style/mixins/button/button";
.our-category{
  margin: 0 15px;
  background-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/Parallax_ca5a3dc8-96bb-4388-95a9-02f606078f27.png?v=1559893594");
  padding: 80px 0;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .category-content{
    //max-width: 1500px;
    //margin: 0 auto;
    .seperator{
      display: flex;
      justify-content: center;
    }
    .category-text{
      @include title;
      color: #FFF;
    }
    .our-category-carousel{
      .alice-carousel{
        .alice-carousel__wrapper{
          .alice-carousel__stage{
            .alice-carousel__stage-item{
              .item{
                padding: 15px;
                position: relative;
                &:before{
                  position: absolute;
                  content: '';
                  top: 50%;
                  left: 100%;
                  transform: translateY(-50%);
                  width: 1px;
                  height: 140px;
                  background-color: #888;
                  opacity: .3;
                }
                &:hover{
                  .img-content{
                    img{
                      animation-name: imgRotateAnimation;
                      animation-iteration-count: infinite;
                      animation-timing-function: linear;
                      animation-duration: 6.7s;
                    }
                  }
                }
                .img-content{
                  display: flex;
                  justify-content: center;
                  margin-bottom: 40px;
                }
                .title{
                  color: $white;
                  font-size: 18px;
                  font-weight: 600;
                  margin: 15px 0 5px;
                  transition: all .7s;
                  text-align: center;
                }
                .msg{
                  color: #888;
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 22px;
                  text-align: center;
                  transition: all .7s;
                }
              }
            }
          }
        }
        .alice-carousel__dots{
          display: none;
        }
        @include carouselButtonStyle;
      }
    }
  }
}
@keyframes imgRotateAnimation {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}