@import "../mixins/colors/colors";
@import "../mixins/button/button";
@import "../mixins/htmlelement/htmlelementstyles";
.product-carousel{
  padding-top: 100px;
  margin-bottom: 60px;
  .container{
    .separator{
      display: flex;
      justify-content: center;
    }
    .title{
      @include title;
      color: $iconColor;
    }
    .alice-carousel{
      @include responsive;
      .alice-carousel__wrapper{
        padding: 20px 0;
        .alice-carousel__stage{
          .alice-carousel__stage-item{
            .item{
              padding: 0 15px;
              .card{
                border: 1px solid #eee;
                transition: all .6s;
                &:hover{
                  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .1);
                }
                .card-header{
                  border-bottom: 1px solid #eee;
                  img{
                    width: 100%;
                  }
                }
                .card-body{
                  padding-bottom: 10px;
                  .starts{
                    display: flex;
                    justify-content: center;
                  }
                  .name{
                    text-align: center;
                    color: $cardNameColor;
                    letter-spacing: .06rem;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 5px;
                  }
                  .price{
                    margin-top: 0.5rem;
                    text-align: center;
                    color: $cardPriceColor;
                    font-weight: 600;
                    margin-bottom: 10px;
                  }
                  .icon-bar{
                    display: flex;
                    justify-content: center;
                    .icon-list{
                      list-style-type: none;
                      margin: 0;
                      display: flex;
                      align-items: center;
                      text-align: center;
                      cursor: pointer;
                      background-color: #fff;
                      box-shadow: 0 0 4px 1px rgba(0, 0, 0,  0.1);
                      padding: 9px 17px;
                      border-radius: 50px;
                      .icon-list-item:nth-child(1){
                        position: relative;
                        &:before{
                          position: absolute;
                          content: '';
                          width: 1px;
                          height: 15px;
                          background-color: #e7e7e7;
                          left: 100%;
                          top: 50%;
                          transform: translateY(-50%);
                        }
                        .icon{
                          width: 25px;
                          height: 17px;
                          mask-size: 100% 100%;
                          mask-image: url("../../images/eye.svg");
                          background-color: $cardIconColor;
                        }
                      }
                      .icon-list-item:nth-child(2){
                        position: relative;
                        &:before{
                          position: absolute;
                          content: '';
                          width: 1px;
                          height: 15px;
                          background-color: #e7e7e7;
                          left: 100%;
                          top: 50%;
                          transform: translateY(-50%);
                        }
                        .icon{
                          mask-image: url("../../images/basket.svg");
                          width: 25px;
                          height: 18px;
                          mask-size: 100% 100%;
                          background-color: $cardIconColor;
                        }
                      }
                      .icon-list-item:nth-child(3){
                        .icon{
                          mask-image: url("../../images/heart (2).svg");
                          width: 16px;
                          height: 15px;
                          mask-size: 100% 100%;
                          background-color: $cardIconColor;
                        }
                      }
                      .icon-list-item{
                        padding: 2px 7px;
                        transition: all .5s;
                        &:hover{
                          .icon{
                            background-color: $buttonColor;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .alice-carousel__dots{
        display: none;
      }
      @include carouselButtonStyle;
    }
  }
}