@import "../../style/mixins/colors/colors";
@import "../../style/mixins/htmlelement/htmlelementstyles";
.services{
  padding: 70px 0;
  .ant-row{
   @include responsive;
    .ant-col-6{
      .card-content{
        border-right: 1px solid #eee;
        &:hover{
          .title{
            color: $buttonColor;
          }
          .img-content{
            .icon-img{
              background-color: #888;
              animation-name: servicesIconsAnimation;
              transition-property: all;
              animation-duration: .3s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: 1;
            }
          }
        }
        .img-content{
          display: flex;
          justify-content: center;
          .icon-img{
            transition: all .7s;
            background-color: $buttonColor;
            width: 60px;
            height: 60px;
            mask-size: 100% 100%;
          }
        }
        .title{
          text-align: center;
          font-size: 17px;
          font-weight: 600;
          line-height: 17px;
          margin: 10px 0;
          color: $iconColor;
          transition: all .7s;
        }
        .msg{
          text-align: center;
          color: #888;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          transition: all .5s;
        }
      }
    }
    .ant-col-6:first-child{
      .card-content{
        .img-content{
          .icon-img{
            mask-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/2_f208b72d-687c-4b14-bb42-43f4868160be.png?v=1577255968");
          }
        }
      }
    }
    .ant-col-6:nth-child(2){
      .card-content{
        .img-content{
          .icon-img{
            mask-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/4_5d8f9ac5-c0b9-4773-97c6-a391f7fa75cc.png?v=1577255985");
          }
        }
      }
    }
    .ant-col-6:nth-child(3){
      .card-content{
        .img-content{
          .icon-img{
            mask-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/6.png?v=1577256003");
          }
        }
      }
    }
    .ant-col-6:nth-child(4){
      .card-content{
        border: none;
        .img-content{
          .icon-img{
            mask-image: url("https://cdn.shopify.com/s/files/1/0086/0251/7559/files/8_bdb878fe-9fdf-45ae-87e7-5f4d334175a9.png?v=1577256021");
          }
        }
      }
    }
  }
}
@keyframes servicesIconsAnimation {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}