@import "../../style/mixins/colors/colors";
.search-page{
  margin: 30px 0;
  .container{
    .ant-row{
      .ant-col-17{
        .search-content{
          .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #f5f5f5;
            padding: 15px 15px;
            margin-bottom: 30px;
          }
          .list{
            margin: 0;
            padding: 0;
            list-style-type: none;
            .list-item{
              .ant-row{
                .ant-col-8{
                  .img-content{
                    border: 1px solid #e9e9e9;
                    width: 100%;
                    img{
                      width: 100%;
                    }
                  }
                }
                .ant-col-16{
                  padding-left: 25px;
                  .name{
                    margin-top: 1rem;
                    padding-right: 0;
                    color: #222;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    text-transform: capitalize;
                  }
                  .price{
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: 0;
                    color: $buttonColor;
                  }
                  .msg{
                    color: #787878;
                    letter-spacing: .5px;
                    font-weight: 400;
                    line-height: 24px;
                  }
                  .icon-bar{
                    display: flex;
                    justify-content: left;
                    margin-top: 20px;
                    .icon-list{
                      list-style-type: none;
                      margin: 0;
                      display: flex;
                      align-items: center;
                      text-align: center;
                      cursor: pointer;
                      background-color: #fff;
                      box-shadow: 0 0 4px 1px rgba(0, 0, 0,  0.1);
                      padding: 9px 17px;
                      border-radius: 50px;
                      .icon-list-item:nth-child(1){
                        position: relative;
                        &:before{
                          position: absolute;
                          content: '';
                          width: 1px;
                          height: 15px;
                          background-color: #e7e7e7;
                          left: 100%;
                          top: 50%;
                          transform: translateY(-50%);
                        }
                        .icon{
                          width: 25px;
                          height: 17px;
                          mask-size: 100% 100%;
                          mask-image: url("../../images/eye.svg");
                          background-color: $cardIconColor;
                        }
                      }
                      .icon-list-item:nth-child(2){
                        position: relative;
                        &:before{
                          position: absolute;
                          content: '';
                          width: 1px;
                          height: 15px;
                          background-color: #e7e7e7;
                          left: 100%;
                          top: 50%;
                          transform: translateY(-50%);
                        }
                        .icon{
                          mask-image: url("../../images/basket.svg");
                          width: 25px;
                          height: 18px;
                          mask-size: 100% 100%;
                          background-color: $cardIconColor;
                        }
                      }
                      .icon-list-item:nth-child(3){
                        .icon{
                          mask-image: url("../../images/heart (2).svg");
                          width: 16px;
                          height: 15px;
                          mask-size: 100% 100%;
                          background-color: $cardIconColor;
                        }
                      }
                      .icon-list-item{
                        padding: 2px 7px;
                        transition: all .5s;
                        &:hover{
                          .icon{
                            background-color: $buttonColor;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .no-date{
            text-align: center;
            padding: 80px 0;
            font-size: 22px;
            color: $color;
          }
        }
      }
    }
  }
}