@import "../colors/colors";
@mixin carouselButtonStyle{
  .alice-carousel__prev-btn, .alice-carousel__next-btn{
    .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper{
      .alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
        border-radius: 30px;
        color: inherit;
        padding: 0;
        background-color: #fff;
        border: 1px solid #eee ;
        width: 30px;
        height: 30px;
        font: inherit;
        position: relative;
        transition: all .3s;
        z-index: 2;
        &:hover{
          background-color: $iconColor;
          border: 1px solid $iconColor;
          span{
            background-color: $white;
          }
        }
        span{
          z-index: 2;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          mask-image: url("../../../images/chevron-left-solid.svg");
          width: 7.1px;
          height: 20px;
          background-color: $iconColor;
          mask-repeat: no-repeat;
          mask-size: 100% 100%;
        }
        span:after{
          display: none;
        }
      }
      .alice-carousel__next-btn-item{
        margin-left: 5px;
        span{
          mask-image: url("../../../images/chevron-right-solid.svg");
        }
      }
      .alice-carousel__prev-btn-item{
        margin-right: 5px;
      }
    }
  }
}